@use "src/styles/functions" as f;
@import "src/styles/variables";
@import "src/styles/keyframes";

.container {
  width: f.rem(64px);
  height: f.rem(64px);
  flex: 0 0 4rem;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  color: $color-dark;
  background-color: $color-light;
  border: 1px solid $color-gray-1;
  
  &[data-state] {
    color: $color-light;
  }
  &[data-state="tbd"] {
    color: $color-dark;
    outline: 2px solid $color-gray-2;
    outline-offset: -2px;
  }
  &[data-state="absent"] {
    background-color: $color-gray-1;
  }
  &[data-state="present"] {
    background-color: $color-yellow;
    border-color: $color-yellow;
  }
  &[data-state="correct"] {
    background-color: $color-green;
    border-color: $color-green;
  }

  &.animation {
    animation-name: PopIn;
    animation-duration: 100ms;
  }
}

// .tile[data-animation='flip-in'] {
//   animation-name: FlipIn;
//   animation-duration: 250ms;
//   animation-timing-function: ease-in;
// }
// .tile[data-animation='flip-out'] {
//   animation-name: FlipOut;
//   animation-duration: 250ms;
//   animation-timing-function: ease-in;
// }